.customer-login {
    width: 40%;
    margin: 0 auto;
    box-shadow: rgba(218, 8, 47, 0.28) 0px 4px 7px 12px;
    text-align: center;
    padding: 20px;
}
.error-message {
    color: red;
    font-size: 12px;
}
.sign-up{
    color:rgb(55, 0, 255);
    cursor: pointer;
}