<div>
    <div class="about-section">
        <h1>About Us </h1>
      </div>
    <div class="py-sm-5 py-4">
        <div class="container py-xl-4 py-lg-2">
          <!-- //tittle heading -->
          <div class="row">
            <h2 style="color:#3613ff;">About Store</h2>
            <div class="col-lg-6 welcome-left">
              <h4 class="my-sm-3 my-2">An online food ordering application is a convenient and efficient platform that allows users to browse through a variety of restaurants and cuisines, placing orders for delivery or takeout. These platforms typically feature user-friendly interfaces, providing customers with detailed menus, prices, and delivery options. Users can easily customize their orders, specify delivery addresses, and make secure online payments. Additionally, online food ordering stores often incorporate real-time tracking systems, allowing customers to monitor the status of their orders. This enhances transparency and builds trust. With the growing demand for quick and hassle-free food solutions, online food ordering stores play a pivotal role in connecting consumers with a diverse range of culinary choices, contributing to the digital transformation of the food industry.</h4>
            </div>
      
            <div class="col-lg-6 welcome-right-top mt-lg-0 mt-sm-5 mt-4">
              <img src="../../../assets/images/banner1.jpg" class="img-fluid" alt=" ">
            </div>
            <div class="welcome-left">
              <br><br><h2 class="text-left" style="color:#3613ff;">&ensp;What We Do</h2>
              <h4 class="my-sm-3" style="margin-left:15px;">We ensure that you will receive the highest quality menu at the most affordable price. Currently, our services are only available in Chennai. In order to provide you with a more convenient dining experience, we deliver your selected menus directly to your doorstep at the time slot of your choice. In today's fast-paced world, people are often short on time and it can be difficult to find healthy and natural food options. To address this issue, we offer a variety of carefully prepared meals from different categories. Our aim is to save you time by avoiding traditional dining experiences and the problems that come with them, such as long restaurant queues and parking issues.</h4>
            </div>
            <div class="welcome-left">
              <br><br><h2 class="text-left" style="color:#3613ff;">&ensp;Our Vision</h2>
              <h4 class="my-sm-3" style="margin-left:15px;">
              <li>To evaluate the way of interaction with customers.</li>
              <li>To develop a restaurant ordering system with web application based on the client server application. </li>
              <li>To determine the factors that influence customer when ordering food online.</li>
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>